filenames:
  - /var/log/secure
labels:
    type: syslog
---
filenames:
  - /var/log/messages
labels:
    type: syslog
---
filenames:
  - /var/log/haproxy-crowdsec.log
  - /var/log/haproxy.log
labels:
  type: haproxy
---