global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen prometheus
    bind {{ ansible_eth0.ipv4.address }}:9000
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    no log

listen ssh-forward
    bind {{ ansible_eth1.ipv4.address }}:2222
    mode tcp
    option tcplog
    timeout client 1h
    timeout server 1h
    server ssh_bastion_name {{ hostvars[ssh_bastion_name].ansible_eth0.ipv4.address }}:22 check inter 1000

listen kubernetes-apiserver-https
  bind {{ kube_api_internal_endpoint }}:6443
  mode tcp
  option log-health-checks
  timeout client 10m
  timeout server 10m
  balance roundrobin
{% for server in groups[kubeadm_master_group_name] %}
  server {{ server }} {{ hostvars[ server ].ansible_eth0.ipv4.address }}:6443 check check-ssl verify none inter 10000
{% endfor %}

listen kubernetes-ingress
  bind *:80
  mode tcp
  option log-health-checks
  timeout client 10m
  timeout server 10m
  balance roundrobin
{% for server in groups[kubeadm_worker_group_name] %}
  server {{ server }} {{ hostvars[ server ].ansible_eth0.ipv4.address }}:80 check inter 1000
{% endfor %}

listen kubernetes-ingress-https
  bind *:443
  mode tcp
  option log-health-checks
  timeout client 10m
  timeout server 10m
  balance roundrobin
{% for server in groups[kubeadm_worker_group_name] %}
  server {{ server }} {{ hostvars[ server ].ansible_eth0.ipv4.address }}:443 check inter 1000
{% endfor %}