grafana:
  defaultDashboardsTimezone: Europe/Paris
  adminPassword: "{{ grafana_root_password }}"
  enabled: true
  ingress:
    enabled: yes
    ingressClassName: "{{ grafana_ingress_class }}"
    hosts:
      - "{{ grafana_ingress_host }}"
prometheus:
  prometheusSpec:
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: "{{ prometheus_pvc_size }}"
          storageClassName: "{{ prometheus_storage_class }}"
          hostPath:
            path: "{{ prometheus_storage_local_path }}"
        metadata:
          name: prometheus
alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 10m
    route:
      receiver: 'discord'
      group_by: ['namespace','alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      routes:
      - receiver: 'null'
        matchers:
          - alertname = "Watchdog"
    receivers:
    - name: 'null'
    - name: 'discord'
      discord_configs:
      - webhook_url: "{{ alert_manager_webhook_url }}"
        title: '{% raw %}  Fire! {{ .GroupLabels.SortedPairs.Values | join " " }} {% endraw %} '
        message: '{% raw %}{{ range .Alerts.Firing }}
                                  **__Alert:__** **{{ printf "%.150s" .Annotations.summary }}** ({{ .Labels.severity }})\n\n
                                  **__Description:__** ```{{ printf "%.150s" .Annotations.description }}```\n
                                  **__Alertname:__** {{ .Labels.alertname }}\n
                                  **__Namespace:__** {{ .Labels.namespace }}\n
                                  **__Service:__** {{ .Labels.service }}\n
                                  {% endraw %} {{ alert_manager_webhook_mention }} {%raw%}
                                {{ end }}

                                {{ if gt (len .Alerts.Resolved) 0 }}
                                    Also {{ .Alerts.Resolved | len }} resolved alerts.
                                {{ end }}{% endraw %}'
