grafana:
  defaultDashboardsTimezone: Europe/Paris
  adminPassword: "{{ grafana_root_password }}"
  enabled: true
  ingress:
    enabled: yes
    ingressClassName: "{{ grafana_ingress_class }}"
    hosts:
      - "{{ grafana_ingress_host }}"
prometheus:
  prometheusSpec:
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: "{{ prometheus_pvc_size }}"
          storageClassName: "{{ prometheus_storage_class }}"
          hostPath:
            path: "{{ prometheus_storage_local_path }}"
        metadata:
          name: prometheus
altermanager:
  config:
    route:
      receiver: 'discord'
      group_by: ['namespace',  'alertname']
    receivers:
    - name: 'null'
    - name: 'discord'
      discord_config:
      - webhook_url: "{{ alert_manager_webhook_url }}"
        title: "{{'{{'}} template 'discord.default.title' . {{'}}'}} {{ alert_manager_webhook_mention }}"
